/* NAV BAR */

/* INSERTING THE FONT STYLES */

@font-face {
    font-family: Salamander;
    src: url(../Salamander/Salamander.woff);
}

@font-face {
    font-family: Hipster;
    src: url(../Hipster/Hipster.otf);
}

a:hover {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: auto;
    color: whitesmoke;
    font-size: 1em;
    scroll-behavior: smooth;
}

.main_header {
    font-family: Hipster;
    font-size: 5rem;
    color: rgb(236, 0, 0);
}

.danger {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: rgb(255, 230, 0);
    font-weight: bold
}

.jumboheader {
    width: 100%;
    height: 80vh;
    text-transform: uppercase;
    background-image: url(../images/home.jpg);
    background-attachment: fixed;
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.res-container {
    position: relative;
    top: -6%;
    z-index: 10;
}

.res-underlay {
    background-color: #F5F3F0;
    width: 100%;
    height: 530px;
}

.sp-container,
.res-container {
    width: 80%;
    margin: 0 auto;
    transition: .3s ease-in-out;
}

.sp-container {
    position: relative;
    top: -8%;
    z-index: 10;
}

.sp-underlay {
    background-color: #F5F3F0;
    width: 100%;
    height: 430px;
}

.menu-underlay {
    width: 100%;
    height: 550px;
    background-image: url(../images/rawpixel-247358-unsplash.jpg);
    width: 100%;
    background-attachment: fixed;
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 940px;
    top: -450px;
    margin: 0;
}

.underlay {
    width: 100%;
    height: 100%;
}

/*
specialty {
    position: relative;
    top: -660px;
}
*/

/* NAV BAR */

.navbar {
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-toggler-icon {
    color: aliceblue !important;
}

.textthai {
    font-family: sans-serif;
}

.underlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
}

.body-bg {
    background-color: #666;
    background-image: url('/assets/images/body-bg2.jpg');
    background-position: center;
    background-size: cover;
    /*    background-repeat: no-repeat;*/
    padding: 30px;
    position: relative;
}

.body-bg {
    padding: 130px 150px;
}

.main {
    height: 100%;
    padding: 0;
    box-shadow: 0px 0px 67px 8px rgba(0, 0, 0, 0.75);
}

.header-text {
    margin-top: 20%;
}

.sal-header {
    font-family: Hipster;
    font-weight: bold;
    font-size: 3rem;
}

/*Reservation*/

.book-btn {
    border-radius: unset;
    /*    color: hsla(22, 79%, 53%, 0.451);*/
    font-weight: bold;
    letter-spacing: 0.09rem;
    border-color: #aca895;
    border: 2px solid;
    margin-top: 1rem;
}

.reservation-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.fit-bottom {
    object-position: bottom;
}

.reservation {
    color: #445;
    height: 300px;
    background-color: #FEFEFE;
    transition: .3s ease-in-out;
    overflow-y: hidden;
    user-select: none;
}

/*Specialty*/

.specialty-card {
    position: relative;
    color: #445;
    width: 100%;
    height: 250px;
    word-wrap: break-word;
    overflow-y: hidden;
    background-color: #FEFEFE;
    transition: .3s ease-in-out;
    overflow: hidden;
    user-select: none;
}

.specialty-card:hover,
.reservation:hover {
    background-color: #f6c710;
    opacity: 1;
    color: #444;
    cursor: pointer;
}

.specialty-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.sp-img,
.res-img {
    transition: .3s ease-in-out;
}

.sp-img:hover,
.res-img:hover {
    opacity: 0.7;
}

.specialty-desc:hover + .sp-img,
.reservation-desc:hover + .res-img {
    opacity: 0.7;
}

.specialty-title {
    text-transform: capitalize;
    font-size: 2em;
    font-family: Salamander;
}

.card-price {
    font-size: 1.2em;
    font-weight: 700;
}

.specialty-desc {
    padding: 20px;
    font-size: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
}

.specialty-overlay-container {
    position: absolute;
    background-color: aqua;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    display: none;
}

.specialty-card:hover .specialty-overlay-container {
    height: 100%;
}

.specialty-banner {
    text-transform: uppercase;
    font-size: 3em;
    height: 500px;
    background-image: url(../images/buffet-business-counter-776538.jpg);
    width: 100%;
    background-attachment: fixed;
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 940px;
    top: -450px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

/*Menu*/

.btn-outline-danger.active {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .5);
}

#menu-area {
    color: #665;
    background-color: #FEFEFE;
    padding-right: 0px;
    padding-left: 1px;
}

.money {
    font-family: Salamander;
    font-size: 40px;
    color: rgb(212, 214, 64);
}

.col-1 {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.item {
    transition: .1s ease-in-out;
}

.menu-item {
    user-select: none;
}

.menu-item:hover {
    cursor: pointer
}

.menu-item:hover .item {
    color: rgb(212, 214, 64);
}

.item {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: #000000;
}

/* Paragraph tag  */

.itemp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0px;
    color: #000000a4
}

/* menu sign */

.custommenu {
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    font-weight: 200;
    color: #110e0e;
}

.customp {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(184, 180, 180);
    padding: 40px;
    font-weight: bold
}

.custommenu:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    border-bottom: 3px solid rgb(180, 169, 110);
}

footer {
    margin: 0;
    position: relative;
    background: rgb(36, 33, 33);
    color: lightgray;
}

.to-top {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -10%);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 1.2;
    border-radius: 50%;
    margin-top: 0;
}

.to-top:hover {
    cursor: pointer
}

.copyright {
    background: lightgray;
    color: rgb(78, 76, 76);
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

span {
    border-bottom: solid 1px;
}

h3 {
    font-family: Hipster;
    font-size: 3rem;
}

.footer_p {
    font-family: cursive;
    font-size: 18px;
}

/*Media Queries*/

@media only screen and (max-width: 1440px) {
    .body-bg {
        padding: 80px;
    }
}

@media only screen and (max-width: 1240px) {
    .body-bg {
        padding: 50px;
    }
}


@media only screen and (max-width: 1199px) {
    .hide-em {
        display: none
    }
}

@media only screen and (max-width: 991px) {


    .sp-underlay,
    .res-underlay {
        /*        background-color: transparent*/
    }

    .specialty-title {
        font-size: 1.5em;
    }

    .specialty-banner {
        padding: 50px;
        margin-top: -13%;
    }

    .specialty-card,
    .reservation {
        height: 50%;
        font-size: 1.0em;
        margin-bottom: 5px;
        border: solid 2px darkred;
    }

    .specialty-card:hover {
        color: transparent
    }

    .specialty-overlay-container {
        display: block;
    }

    .res-container {
        /*        top: 11%;*/
    }

    .body-bg {
        background-color: #F5F3F0;
        background-image: url('');
    }
    
    .underlay{display: none;}


    .sp-container,
    .res-container {
        width: 100%;
        margin: 0 auto;
    }

    .sp-img,
    .res-img {
        display: none;
    }

    .body-bg {
        padding: 0px;
    }

    #menu-area {
        position: relative;
        top: 140px;
    }

    .jumboheader {
        font-size: em;
        width: 100%;
        height: 60vh;
    }
}

@media only screen and (max-width: 602px) {
    #menu-area {
        position: relative;
        top: 240px;
    }
}
