/* INSERTING THE FONT STYLES */

@font-face {
    font-family: Salamander;
    src: url(../Salamander/Salamander.woff);
}

@font-face {
    font-family: Hipster;
    src: url(../Hipster/Hipster.otf);
}

html, body {
    width: 100%;
    height: auto;
    color: whitesmoke;
    font-size: 1em;
}

section {
    margin: 30px;
}

.jumboheader {
    width: 100%;
    height: 80vh;
}

.res-container {
    position: relative;
    top: -578px;
    z-index: 10;
}

.res-underlay {
    background-color: #F5F3F0;
    width: 100%;
    height: 500px;
}

.sp-container {
    position: relative;
    top: -495px;
}

.sp-underlay {
    background-color: #F5F3F0;
    width: 100%;
    height: 430px;
}

.underlay {
    width: 100%;
    height: 100%;
}

specialty {
    position: relative;
    top: -660px;
}

/* NAV BAR */

.navbar {
    background-color: transparent !important;
}

.navbar-toggler-icon {
    color: aliceblue
}

.textthai {
    font-family: sans-serif;
}

.underlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
}

.body-bg, .main {
    background-color: #666;
    background-image: url('/assets/images/body-bg2-low.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 30px;
    position: relative;
}

.body-bg {
    padding: 130px 150px;
}

.main {
    height: 100%;
    padding: 0;
    box-shadow: 0px 0px 67px 8px rgba(0, 0, 0, 0.75);
}

.header-text {
    margin-top: 20%;
}

.sal-header {
    font-family: Hipster;
    font-weight: bold;
    font-size: 3rem;
}

/*Reservation*/

.book-btn {
    border-radius: unset;
    color: hsla(22, 79%, 53%, 0.451);
    font-weight: bold;
    letter-spacing: 0.09rem;
    border-color: #aca895;
    border: 2px solid;
    margin-top: 1rem;
}

.reservation-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.fit-bottom {
    object-position: bottom;
}

.reservation {
    color: #445;
    height: 300px;
    background-color: #FEFEFE;
    transition: .3s ease-in-out;
    overflow-y: hidden;
}

/*Specialty*/

.specialty-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.sp-img, .res-img {
    transition: .3s ease-in-out;
}

.sp-img:hover, .res-img:hover {
    opacity: 0.7;
}

.specialty-desc:hover+.sp-img, .reservation-desc:hover+.res-img {
    opacity: 0.7;
}

.specialty-title {
    text-transform: capitalize;
    font-size: 2em;
    font-family: Salamander;
}

.card-price {
    font-size: 1.2em;
    font-weight: 700;
}

.specialty-desc {
    padding: 20px;
    font-size: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
}

.specialty-card {
    color: #445;
    width: 100%;
    height: 250px;
    word-wrap: break-word;
    overflow-y: hidden;
    background-color: #FEFEFE;
    transition: .3s ease-in-out;
}

.specialty-card:hover, .reservation:hover {
    background-color: #f6c710;
    opacity: 1;
    color: #444;
    cursor: pointer;
}

.specialty-banner {
    text-transform: uppercase;
    font-size: 3em;
    height: 500px;
    background-image: url(../images/buffet-business-counter-776538.jpg);
    width: 100%;
    background-attachment: fixed;
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 940px;
    top: -450px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

/*Menu*/

.btn-outline-danger.active {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .5);
}

#menu-area {
    color: #665;
    background-color: #FEFEFE;
    padding-right: 0px;
    padding-left: 1px;
}

.money {
    font-family: Salamander;
    font-size: 40px;
    color: rgb(212, 214, 64);
}

.col-1 {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.item {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: #000000;
}

/* Paragraph tag  */

.itemp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0px;
    color: #000000a4
}

/* menu sign */

.custommenu {
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    font-weight: 200;
    color: #110e0e;
}

.customp {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(184, 180, 180);
    padding: 40px;
    font-weight: bold
}

.custommenu:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    border-bottom: 3px solid rgb(180, 169, 110);
}

/*Media Queries*/

@media only screen and (max-width: 1440px) {
    .body-bg {
        padding: 80px;
    }
}

@media only screen and (max-width: 1240px) {
    .body-bg {
        padding: 50px;
    }
}

@media only screen and (max-width: 991px) {
    .specialty-title {
        font-size: 1.5em;
    }
    .specialty-banner {
        padding: 50px;
        margin: -30px -10px;
    }
    .specialty-card, .reservation {
        height: 50%;
        font-size: 1.0em;
        margin-bottom: 5px;
        border: solid 2px darkred;
    }
    .sp-img, .res-img {
        display: none
    }
}

@media only screen and (max-width: 734px) {
    .body-bg, .main {
        padding: 10px;
    }
}